
<!DOCTYPE html>
<html>
    <head>
        <title>
            AboutUs
        </title>
    </head>
    <body>
        <div class="base-head">
            <nav>
                <a href="/">
                    Home
                </a>
                <a href="/about">
                    AboutUs
                </a>
                <a href="/login">
                    LogIn
                </a>
                <a href="/logout">
                    LogOut
                </a>
                <a href="/signup">
                    SignUp
                </a>
            </nav>
        </div>
        <div class="inserted-body">
            {% block content %}
            {% endblock %}
        </div>
    </body>
</html>